src/docs/Makefile
src/tests/Makefile
src/include/mathreplace-funcs.h
*Makefile.in
herbgrind/.deps/
valgrind/
*.out
*.sout
deps/*
bench/*.gh
bench/herbie-crosseval/*.gh
bench/herbie-crosseval/*.c
!bench/herbie-crosseval/driver.c
vgcore*
*.swp
*#*#
bench/*.cmi
bench/*.cmo
bench/*.cmx
bench/*.o
