src/docs/Makefile
src/tests/Makefile
src/include/hg_mathreplace_funcs.h
*Makefile.in
herbgrind/.deps/
valgrind/
*.out
*.sout
deps/*
bench/*.gh
bench/herbie-crosseval/*.gh
bench/herbie-crosseval/*.c
!bench/herbie-crosseval/driver.c
vgcore*
*.swp
