herbgrind/docs/Makefile
herbgrind/tests/Makefile
herbgrind/include/hg_mathreplace_funcs.h
*Makefile.in
herbgrind/.deps/
valgrind/
*.out
*.sout
deps/*
bench/*.gh
bench/herbie-crosseval/*.gh
bench/herbie-crosseval/*.c
!bench/herbie-crosseval/driver.c
