/* Fonts */
@font-face {
    font-family: "nyt-cheltenham";
    font-style: normal;
    font-weight: 200;
}
h1, h2, h3 {
    color:rgba(0,50,0,.90);
}
h1 {
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
}
li {
    margin-left: 120px;
    list-style: none inside;
}
time {
    font-weight: bold;
    text-align: right;
    position: absolute;
    left: 0;
    display: block;
    width: 100px;
}
b {
    color:rgba(0,50,0,.90);
}
.biglink {
    font-size: 2em;
    text-align: center;
    font-family: sans-serif;
}
pre {
    font-size: 14px;
    padding-left: 2em;
    font-family: monospace;
}
/* Typography*/
body {
    font: 1rem/1.6rem Georgia,serif;
    text-rendering: optimizeLegibility;
}
body {
    max-width:600px;
    margin: 3em auto;
    position: relative;
}
section {
    clear: left;
}
/*Scaling*/
@media all {html {font-size: 16px;}}
@media all and (max-width:760px){html {font-size: 15px;}}
@media all and (max-width:720px){html {font-size: 14px;}}
@media all and (max-width:680px){html {font-size: 13px;}}
@media all and (max-width:640px){html {font-size: 12px;}}
@media all and (max-width:600px){html {font-size: 11px;}}
@media all and (max-width:560px){html {font-size: 10px;}}
@media all and (max-width:520px){html {font-size: 9px;}}

/* mobile layout tweaks */
@media
only screen
and (max-device-width: 768px) {
    body { width: 80%; }
    p.bodytext { font-size: 2em; line-height: 1.5}
    h1 { font-size: 4em; }
    h2 { font-size: 3em; }
    .biglink { font-size: 3em; }
}
